# PostgreSQL Connection Strings (Neon Serverless Postgres or Local Postgres)
# Replace credentials with your own Neon project connection string
DATABASE_URL="postgresql://[username]:[password]@[endpoint]-pooler.[region].aws.neon.tech/neondb?sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://[username]:[password]@[endpoint].[region].aws.neon.tech/neondb?sslmode=require"
NEON_BRANCH=main
